html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px reba(104, 104, 104, 0.8);
  --lightblue: #7ad0cf;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}
body {
  background: #3c3c3d;
  margin: 30px 50px;
  line-height: 1.4;
  border: 0px;
  box-sizing: border-box;
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
}
img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}
body {
  margin: 0;
  background: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v4/QGYpz_wNahGAdqQ43Rh314L8mNhI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v4/QGYpz_wNahGAdqQ43Rh3o4T8mNhI.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
/* navigation  */
.home-header {
  background: var(--lightblue);
  opacity: 0.5;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.home-header .logo {
  max-width: 75px;
  margin: 0 auto;
}
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, 0.75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 0.66666667;
  }
  nav {
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    grid-column: 0.75;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
}
img {
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  box-sizing: border-box;
}
/* Top Container */
.top-container {
  margin-top: 150px;
  width: 90%;
  margin-left: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
  /* Showcase */
}
.top-container p {
  color: orangered;
}
.top-container h4 {
  font-weight: bold;
}
.top-container .showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(../files/img/bboy.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.top-container .showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: orangered;
  font-weight: bold;
}
.top-container .showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
  color: white;
}
/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .top-box .price {
  font-size: 2.5rem;
}
.top-box .top.box-a {
  grid-area: top-box-a;
}
.top-box .top.box-b {
  grid-area: top-box-a;
}
/* Boxes */
.boxes {
  width: 90%;
  margin-left: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.box h3 {
  color: orangered;
  font-weight: bold;
}
/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2 1fr);
  padding: 3rem;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 80px;
}
.info h2 {
  color: orangered;
  font-weight: bold;
}
.info p {
  margin-bottom: 10px;
}
.info .btn {
  display: inline-block;
  width: 145px;
  padding: 10px;
}
/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  width: 85%;
}
.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}
/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
  }
  .showcase h1 {
    font-size: 2.5rem;
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .top-container {
    margin: 0 auto;
    margin-bottom: 10px;
    grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
  }
  .info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info .btn {
    display: inline-block;
  }
  .boxes {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .info {
    margin: 0 auto;
  }
}
.top-Half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 150px;
  border-bottom: 1px solid lightgrey;
  width: 80%;
  height: 100px;
  padding-bottom: 15px;
}
@media (min-width: 1280px) {
  .top-Half {
    width: 1280px;
  }
}
.top-Half h1 {
  font-size: 60px;
  font-family: Didot, serif;
  font-weight: bold;
  flex: 8;
  text-align: center;
  color: white;
}
.top-Half span {
  align-self: flex-end;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
.tabs {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 35px;
  margin-top: 10px;
}
@media (min-width: 1280px) {
  .tabs {
    width: 1280px;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
  }
}
.cards-container .card {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  font-family: Didot, serif;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 150px;
}
.cards-container .card .author .img-container img {
  width: 100px;
}
.cards-container .card .author span {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs {
  color: var(--dark);
}
.card {
  color: var(--dark);
}
@media (max-width: 800px) {
  .tabs {
    width: 760px;
    margin: 0 auto;
  }
  .topics {
    width: 650px;
  }
}
@media (max-width: 500px) {
  .top-Half {
    margin-bottom: 20px;
  }
  .tabs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 100px;
    width: 380px;
    height: 299px;
    margin: 0 auto;
  }
  .tabs .topics {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .tabs .topics .tab {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
/* Core Styles */
.show {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}
.show h1,
.show h2,
.show h3 {
  margin: 0;
  padding: 1em 0;
}
.show img {
  display: block;
  width: 100%;
  height: auto;
}
.show p {
  margin: 0;
  padding: 1em 0;
}
.show .btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}
.show .btn .btn:hover {
  background: #eaeaea;
  color: #333;
}
/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}
#showcase .bg-image {
  position: absolute;
  background: url(/files/img/handHoldingIPhone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  opacity: 0.4;
}
#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  color: orangered;
  font-weight: bold;
  font-size: 45px;
}
#showcase .content-text {
  margin: 0 auto;
}
#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}
/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}
#section-a .content-title {
  color: orangered;
  font-weight: bold;
  font-size: 35px;
}
/* Section B */
#section-b {
  padding: 2em 1em 1em;
}
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}
.card-content {
  padding: 1.5em;
}
/* Section C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}
#section-c .content-title {
  color: orangered;
  font-weight: bold;
  font-size: 35px;
}
/* Section D / Boxes */
#section-d .box {
  padding: 2em;
  color: #fff;
}
#section-d .box:first-child {
  background: #7ad0cf;
}
/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: flex;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    width: 90%;
    margin: 0 auto;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 1em;
    padding: 25px;
  }
  #section-a .content-text h1 {
    font-size: 55px;
    font-weight: bold;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 0.5;
  }
  .box {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 31%;
  }
}
.contact {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(/files/img/phone.jpg);
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.contact .contact-title {
  padding-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact .contact-title .contact-title h1 {
  font-size: 32px;
  line-height: 10px;
}
.contact .contact-title .contact-title h2 {
  font-size: 16px;
}
form {
  margin: 400px;
  background: transparent;
  outline: none;
  border-bottom: 1 px solid black;
  color: #fff;
  font-size: 25px;
  margin-bottom: 16px;
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control {
  width: 600px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-bottom: 1 px solid gray;
  color: #fff;
  font-style: 45px;
  margin-bottom: 16px;
}
.form-control input {
  height: 45px;
}
.form-control form .submit {
  background: #7ad0cf;
  border-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
.form-control form .submit:hover {
  background-color: #fff;
  cursor: pointer;
}
@media (min-width: 500px) {
  .form {
    transition: none;
  }
}
/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}
.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 460%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #f5f5f5;
}
.social i:hover {
  color: #aadcd2;
}
footer.second {
  border-top: 1px solid #aadcd2;
  background-color: #544b59;
  max-height: 55px;
  margin: 0;
  text-align: center;
}
footer.second p {
  padding: 5px 0 9px 0;
  text-align: center;
}
