.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    box-sizing: border-box;

}


/* Top Container */

.top-container {
    margin-top: 150px;
    width: 90%;
    margin-left: 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';

    p {
        color: orangered;

    }

    h4 {
        font-weight: bold;
    }


    /* Showcase */
    .showcase {

        grid-area: showcase;
        min-height: 400px;
        background: url(../files/img/bboy.jpg);
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        box-shadow: var(--shadow);

        h1 {
            font-size: 4rem;
            margin-bottom: 0;
            color: orangered;
            font-weight: bold;
        }

        p {
            font-size: 1.3rem;
            margin-top: 0;
            color: var(--light);
            color: white;
        }




    }

}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;


    .top-box .price {
        font-size: 2.5rem;
    }

    .top.box-a {
        grid-area: top-box-a;
    }

    .top.box-b {
        grid-area: top-box-a;
    }
}

/* Boxes */
.boxes {
    width: 90%;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);

    h3 {
        color: orangered;
        font-weight: bold;
    }
}

/* Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2 1fr);
    padding: 3rem;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 80px;

    h2 {
        color: orangered;
        font-weight: bold;
    }

    p {
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        width: 145px;
        padding: 10px;
    }
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    width: 85%;

    img {
        width: 100%;
        box-shadow: var(--shadow);
    }
}

/* Media Queries */

@media(max-width:700px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width:500px) {
    .top-container {
        margin: 0 auto;
        margin-bottom: 10px;
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b';
    }

    .info {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .info .btn {
        display: inline-block;
    }

    .boxes {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .info {
        margin: 0 auto;
    }


}